*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    font-size: 10px;
    font-family: 'Inter', sans-serif;
    background-color: white;
}

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding-top: 10rem;
}

.content {
    max-width: 720px;
    width: calc(100% - 4rem);
    height: auto;
    border: 1px solid black;
}

/* header */

.content__header {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header__content {
    display: block;
    height: auto;
    width: auto;
    position: relative;
    /*margin-bottom: 2.5rem;*/
}

.header__text{
    font-size: 7.4rem;
    font-weight: 700;
}

.header__beta {
    position: absolute;
    top: 0%;
    left: 100%;
    transform: translate(-50%, -50%);
    font-size: 1.4rem;
    display: block;
    width: auto;
    height: auto;
    padding: .125em .25em;
    background-color:rgb(245, 246, 250);
    border-radius: 5px;
}

.header__subheading{
    width: 100%;
    height: auto;
    font-size: 2rem;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
}
